.booking {
  max-width: 768px;
  background: $palette-booking-background;
  // .booking__hall
  &__hall {
    border-spacing: 1em 1em;
  }

  // .booking__row
  &__row {
  }

  // .booking__block
  &__block {
    color: #d0d1d1;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 5em;
  }

  // .booking__seat
  &__seat {
    background: $palette-booking-free;

    // .booking__seat_occupied
    &_occupied {
      border: 7px solid $palette-booking-background;
      background: $palette-booking-occupied;
    }

    // .booking__seat_selected
    &_selected {
      box-shadow:
              0 0 0 4px $palette-booking-background,
              0 0 0 7px $palette-booking-free;
      background: $palette-booking-selected;
    }

    // .booking__seat_vip
    &_vip {
      background: $palette-booking-vip;
    }

    &:not(&_occupied) {
      &:hover {
        box-shadow:
                0 0 0 4px $palette-booking-background,
                0 0 0 7px $palette-booking-free;
      }
    }
  }
}
