@import "../base/colors";
@import "media-queries";

%align-center {
  display: flex;
  align-items: center;
}

.navbar {
  background: $palette-secondary;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;

  //&__menu {
  //  opacity: 0;
  //
  //  @include tablet {
  //    color: $palette-black;
  //    opacity: 1;
  //    position: absolute;
  //    top: 22px;
  //    right: 20px;
  //    font-size: 1rem;
  //  }
  //}

  &__menu {
    @extend %align-center;
    list-style: none;
    text-align: center;
    margin-right: 24px;

    @include tablet {
      display: none;
    }

    &__links {
      color: $palette-white;
      @extend %align-center;
      justify-content: center;
      text-decoration: none;
      padding: 0 1rem;

      &:hover {
        color: $palette-black;
        transition: all 0.2s ease;
      }
    }

    #button {
      padding: 8px 24px;
      border: none;
      outline: none;
      border-radius: 2px;
      background: $palette-primary;
      color: $palette-footer;

      &:hover {
        background: #3ea500;
        transition: all 0.3s ease;
      }
    }
  }

}