// Reserved Colors //
$x-color-kashmir-blue: #4e6588;
$x-color-limeade: #3ea500;
$x-color-tulip-tree: #f0b83c;

$x-color-black: #000000;
$x-color-white: #ffffff;

// Active Colors //
$x-color-pampas: #ece9e3;
$x-color-tradewind: #6bb5ab;
$x-color-mandy: #e45b5e;
$x-color-wild-sand: #f5f5f5;
$x-color-fuscous-gray: #5a5349;
$x-color-masala: #48413F;
$x-color-gray-nickel: #BFBFB8;
$x-color-mercury: #E3E3E3;
$x-color-wild-sand: #F5F5F5;
$x-color-janna: #F3E9D4;
$x-color-storm-dust: #666665;
$x-color-silver-sand: #BCBEC0;
$x-color-nomad: #b9b3a8;
// Usable Colors //
$palette-background: $x-color-pampas;

$palette-primary: $x-color-tradewind;
$palette-secondary: $x-color-mandy;

$palette-table-header: $x-color-wild-sand;

$palette-footer: $x-color-fuscous-gray;

$palette-white: $x-color-white;
$palette-black: $x-color-black;

// Content Colors //
$palette-content-title: $x-color-masala;

// Schedule Colors //
$palette-schedule-title: $x-color-gray-nickel;
$palette-schedule-background: $x-color-wild-sand;
$palette-schedule-border: $x-color-mercury;
$palette-schedule-button: $x-color-janna;

$palette-film-title: $x-color-storm-dust;
$palette-film-original-title: $x-color-silver-sand;

// Footer
$palette-footer-text: $x-color-nomad;