/*------------------------------------*\
  RESET STYLES
\*------------------------------------*/
/**
 * Import resets
 *
 */

@import "normalize";
@import "reset";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}