@import "../../tools";
@import "../../variables";
@import "schedule";
@import "about";
@import "soon";
@import "contacts";
@import "login";
@import "../form";

$title-font-size: 3.6em;

.content {
  flex-grow: 1;
  // .content__body
  &__body {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 2rem;
    @include breakpoint(md) {
      padding: 0 6rem;
    }
    transition: 0.3s ease all;
    &_center {

    }
  }

  &__header {
    display: flex;

    &_center {
      justify-content: center;
    }
  }

  &__title {
    text-transform:uppercase;
    font-family: $font-family-secondary;
    font-size: $title-font-size;
    color: $palette-content-title;
    letter-spacing:0.03em;
  }
}