@import "../../tools";
@import "../../variables";
@import "schedule";
@import "about";
@import "soon";
@import "contacts";
@import "login";
@import "../form";
@import "profile";

$title-font-size: 3.6em;

.content {
  flex-grow: 1;
  // .content__body
  &__body {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 2rem;
    @include breakpoint(md) {
      padding: 0 6rem;
    }
    transition: 0.3s ease all;
    &_center {

    }
  }

  &__header {
    display: table;

    &_center {
      margin: 0 auto;
    }
  }

  // .content__icon
  &__icon {
    display: table-cell;
    width: 60px;
    height: 60px;
    // .content__icon_account
    &_account {
      background: url(../img/account.png) no-repeat;
      background-size: 100%;
    }

    &_lg-default-size {
      width: 9%;
      height: 8%;
      @include breakpoint(lg) {
        width: 60px;
        height: 60px;
      }
    }
  }

  &__title {
    display: table-cell;
    text-transform:uppercase;
    font-family: $font-family-secondary;
    color: $palette-content-title;
    letter-spacing:0.03em;
    font-size: $title-font-size;

    &_size-5vw-to-lg {
      font-size: 5vw;
      @include breakpoint(lg) {
        font-size: $title-font-size;
      }
    }
  }
}