@import "../../tools";
@import "../../variables";
@import "../../tools";


.content__title--account {

}

.login {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 2rem;
  @include breakpoint(md) {
    padding: 0 6rem;
  }
  transition: 0.3s ease all;
}