@import "../../tools";
@import "../../variables";
@import "../../tools";

$title-font-size: 2.1em;
$cell-size: 23px 13px;


.schedule {

}

.hall {
  // .hall__title
  &__title {
    font-family: $font-family-secondary;
    font-size: $title-font-size;
    color: $palette-schedule-title;
    text-transform:uppercase;
    margin-bottom: 0.15em;
  }

  // .hall__header
  &__header {
    width: 100%;
    border-collapse: collapse;
    border:1px solid $palette-schedule-border;
    border-top: 0 none;
    border-bottom: 0 none;
    text-align: left;
    table-layout: fixed;
  }

  // .hall__content
  &__content {
    background: $palette-schedule-background;
    // .hall__content__item
    &__item {
      font-weight: 400;
      color: #6bb5ab;
      padding: $cell-size;

      &:last-child {
        text-align: center;
      }

      // HIDE AGE LIMIT //
      &:nth-child(4) {
        display: none;
      }

      @include breakpoint(sm) {
        &:nth-child(4) {
          display: inline-block;
        }
      }
    }
  }

  // .hall__seances
  &__seances {
  }
}

.seance {
  // .seance__header
  &__header {
    width: 100%;
    border-collapse: collapse;
    border:1px solid $palette-schedule-border;
    border-top:0 none;
    text-align: left;

    table-layout: fixed;
  }

  // .seance__content
  &__content {
    background: $palette-white;
  }

  &:last-child {
    margin-bottom: 3em;
  }
}

.seance-content {
  // .seance-content__item
  &__item {
    padding: $cell-size;

    //&:last-child {
    //  text-align: right;
    //}

    // HIDE AGE LIMIT //
    &:nth-child(4) {
      display: none;
    }

    @include breakpoint(sm) {
      &:nth-child(4) {
        display: table-cell;
      }
    }
  }

  // .seance-content__item-button
  &__item-button {
    width: 100%;
    border: none;
    color: black;
    text-decoration: none;
    user-select: none;
    background: $palette-schedule-button;
    padding: .7em 0;
    outline: none;

    &:hover {
      background: $palette-primary;
      color: white;
    }
  }
}

.film-description {
  display: none;
  &_active {
    display: flex;
  }
  flex-direction: column;
  align-items: center;
  @include breakpoint(sm) {
    flex-direction: row;
    align-items: start;
  }
  background: $palette-schedule-background;
  border:1px solid $palette-schedule-border;

  padding: 1.5em;


  // .film-description__poster
  &__poster {

  }

  // .film-description__poster-link
  &__poster-link {

  }

  // .film-description__poster-image
  &__poster-image {
    border: 11px solid white;
    box-shadow: 0 0 5px;
    color: $palette-primary;
    margin-right: 10px;
  }

  // .film-description__content
  &__content {
    flex-grow: 1;
    font-family: $font-family-secondary;
  }
}

.film-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include breakpoint(sm) {
    align-items: start;
  }
  @include breakpoint(md) {
    display: inline;
  }
  // .film-info__hud
  &__hud {
    @include breakpoint(sm) {
      float: right;
    }
    color: $palette-schedule-title;
    font-size: 1.3em;
  }

  // .film-info__hud-duration
  &__hud-duration {
    padding:0 5px 0 30px;
    background:url(../img/img_sprite.png) no-repeat -9px -477px;
  }

  // .film-info__hud-age-limit
  &__hud-age-limit {
    border: 2px solid $palette-schedule-title;
  }

  // .film-info__title
  &__title {
    color:$palette-film-title;
    font-weight: 400;
    font-size:1.4285em;
  }

  // .film-info__source-title
  &__source-title {
    color:$palette-film-original-title;
    font-weight: 400;
    font-size:1.4285em;
    margin-bottom: 0.7em;
  }

  // .film-info__year-country-genre
  &__year-country-genre {
    margin-bottom: 0.4em;
  }

  // .film-info__director
  &__director {
    margin-bottom: 0.4em;

  }

  // .film-info__actors
  &__actors {
    margin-bottom: 0.4em;
    display: none;
    @include breakpoint(sm) {
      display: block;
    }
  }

  // .film-info__about
  &__about {
    font-family: $font-family-primary;
    font-size: 1em;
    font-width: 400;
    text-transform: none;
    color: $palette-secondary;

    padding-right: 22px;
    background:url("../img/alllink.png") no-repeat right 3px;
    text-decoration:underline;
    letter-spacing:normal;

    &:hover {
      color: $palette-primary;
      text-decoration:none;
      background-position:right -17px;
    }
  }
}